body{
    margin: 0;
    background-color: #fb6c05;
    font-family: 'Calibri';
    color: white;
}

.main{
    height: 100vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    margin: auto;
    padding: 0;
}

.game{
    display: grid;
    grid-template-areas: 'gre red'
    'yel blu';
    grid-gap: 10px;
    border: 1px solid white;
    background-color: white;
    border-radius: 100%;
    width: 700px;
    height: 700px;
    padding: 0;
}

.red{
    grid-area: red;    
    background-color: #f25022;
    border-top-right-radius: 100%;
    transition: 0.2s;    
}
.gre{
    grid-area: gre;    
    background-color: #7fba00;
    border-top-left-radius: 100%;
    transition: 0.2s;       
}
.blu{
    grid-area: blu;    
    background-color: #00a4ef;
    border-bottom-right-radius: 100%;
    transition: 0.2s;    
}
.yel{
    grid-area: yel;    
    background-color: #ffb900;
    border-bottom-left-radius: 100%; 
    transition: 0.2s;   
}

.red:hover {
    filter: brightness(110%);
}

.gre:hover {
    filter: brightness(110%);
}

.blu:hover {
    filter: brightness(110%);
}

.yel:hover {
    filter: brightness(110%);
}

.selected{
    opacity: 0.8;
}

.notsel{
    opacity: 1;
}
h1{
    position: absolute;
    font-size: 48px;
    margin-left: 16px;
    margin-top: 16px;
}